.main{
    width: 18%;
     /* border: 1px solid red; */
     overflow: auto;
     height: 655px;
     margin-top: 65px;
}

.b1{
    display: flex;
    /* border: 1px solid red; */
    align-items: center;
    height: 40px;
}

.b1:hover{
    background: rgb(230, 229, 229);
}

.b2{
    margin-left: 30px;
    /* border: 1px solid red;   */
}

.b3{
    margin-left: 30px;
    font-size: 17px;
}

.title{
    margin-left: 30px;
    font-size: 18px;
}

.subPic{
    width: 22px;
    height: 22px;
    border-radius: 10px;
    margin-left: 30px;
}

.broadCast{
    margin-left: 55px;
    color: red;
    font-size: 15px;
}